@import '../../../styles/variables';

.references-block {
  padding-right: 80px;
}

.references {
  text-transform: uppercase;
  color: $secondary-color;
  font-weight: 900;
}

.ref-list {
  padding: 0;
}

.ref-name {
  text-transform: uppercase;
  color: $primary-color;
  font-weight: 900;
}

.ref-address {
  letter-spacing: 1.5px;
  color: $dark-gray;
  font-weight: 700;
  font-size: 12px;
}

.block-arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.show-hide-main {
  margin: 0 20px;
}
